# Virtual environment
venv/
env/
.env

# Dataset (too large for GitHub)
New Plant Diseases Dataset(Augmented)/


# Node.js dependencies
backend/node_modules/
frontend/node_modules/

# Build output
frontend/build/

# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*